{{ define "styles" }}
    {{ $swiper := resources.Get "css/swiper.css" | minify | fingerprint}}
    <link rel="stylesheet" href="{{ $swiper.RelPermalink }}" />
{{ end }}

<!-- <h2 class="section_title">Projects</h2> -->

<section class="section projects">
  <h2 class="section_title">Selected Projects</h2>
  <div id="projectsList" class="articles-list-container show-details">
    {{ $posts := partialCached "func/GetFeaturedProjects" . "projects" }}
    {{ range $index, $project := $posts }}

    <article class="project_preview">

    <a href="{{ $project.RelPermalink }}" class="project_title_link">
        <h2 class="project_title" style="--accent: #{{ $project.Params.color }};">
            {{ $project.Params.title }}
        </h2>
    </a>
    
      <!-- Slider main container -->
    <div class="swiper-container swiper1">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            {{ $image:= $project.Resources.Match "Project Image #**" }}
            <!-- Slides -->
            {{range $image}}
                <div class="swiper-slide">
                    <!-- <a href="{{ $project.RelPermalink }}" > -->
                        <img data-src="{{ .RelPermalink }}" alt="{{ $project.Title }}" class="swiper-lazy project_image">
                        <div class="swiper-lazy-preloader"></div>
                    <!-- </a> -->
                </div>
            {{end}}
        </div>

        <div id="swiper-pagination" class="swiper-pagination swiper1-pagination" style="--project-accent: #{{ $project.Params.color }};"></div>
    </div>

    <div class="project_content" style="--project-accent: #{{ $project.Params.color }};">
        <p class="project_subtitle">
            {{ $project.Params.subtitle }}
        </p>
        <p class="project_description">
            {{ $project.Params.description }}

            <a href="{{ $project.RelPermalink }}" class="project_link hvr-icon-wobble-horizontal" style="--project-accent: #{{ $project.Params.color }};">
                View Detail 
                <span class="project_link_icon" >{{ readFile "static/icons/arrow.svg" | safeHTML }} </sp>
            </a>
        </p>
    </div>

    </article>
    {{ end }}
  </div>
</section>