{{ define "styles" }}
    {{ $swiper := resources.Get "css/swiper.css" | minify | fingerprint}}
    <link rel="stylesheet" href="{{ $swiper.RelPermalink }}" />
{{ end }}

<section class="section projects">
  <h2 class="section_title">Certificates</h2>
  <!-- <p class="section_subtitle">Some of the certificates.</p> -->
  <div id="projectsList" class="articles-list-container show-details">
      <!-- Slider main container -->
    <div id="cert-container" class="swiper-container swiper2">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">

            {{ $posts := partialCached "func/GetCertificates" . "certificates" }}
            {{ range $index, $project := $posts }}

          <div class="swiper-slide">

            <article class="cert_preview" style="--accent: #{{ $project.Params.color }};">

              <h2 class="cert_title">
                  {{ $project.Params.title }}
              </h2>
              {{ with $project.Resources.ByType "image" }}
                {{ range . }}
                  <img class="cert_image" src="{{ .RelPermalink }}" alt="{{ $.Title }}">
                {{ end }}
              {{ end }}
              <div class="cert_content" style="--project-accent: #{{ $project.Params.color }};">
                <p class="cert_subtitle">
                    {{ $project.Params.subtitle }}
                </p>
                <p class="cert_description">
                    {{ $project.Params.description }}
                </p>
              </div>
            </article>
          </div>
          
    {{ end }}
        </div>

        <div class="swiper2-pagination" ></div>
    </div>

    
  </div>
</section>