.section {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 4rem;

  /*DESKTOP*/
  @media screen and (max-width: 1070px) {
    max-width: 850px;
  }

  /*PHABLET*/
  @media screen and (max-width: 540px) {
    max-width: 100%;
    padding: 2rem;
  }

  p {
    /*TABLET*/
    @media screen and (max-width: 735px) {
      padding: 0 4rem;
      max-width: 567px;
    }
  }
}

.narrow {
  p {
    /*TABLET*/
    @media screen and (max-width: 735px) {
      padding: 0 2rem;
      max-width: 527px;
    }
  }
}

.section_title {
  text-align: center;
  font-family: var(--serif);
  font-size: 4rem;

  // &:first-letter {
  //   box-shadow: 0 3px 0 -1px var(--accent), 0 3px 0 0 var(--accent),
  //     inset 0 -1px 0 0 var(--accent);
  // }
}

.section_subtitle {
  text-align: center;
  font-family: var(--serif);
  font-size: 2rem;
  font-weight: normal;
}
