<!-- prettier-ignore -->
<Section class="section" relative id="Articles__Hero">
    <div class="hero_container work_container">
        <div class="hero_image work_image">
            {{ readFile .image | safeHTML }}
        </div>
        <div class="heading-container" >
            <h1 class="hero-heading"><span><b>{{ .heading | safeHTML }}</b><span class="dot">.</span></span></h1>
            <div class="hero-description">{{ .subheading | safeHTML }}</div>
            {{ if isset . "button" }}
            <a href="{{ .buttonLink }}"><button class="ghost-btn">{{ .button }}
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <b aria-hidden="true">{{ .button }}</b>
                <b aria-hidden="true">{{ .button }}</b>
                <b aria-hidden="true">{{ .button }}</b>
                <b aria-hidden="true">{{ .button }}</b>
            </button></a>
            {{ end }}
        </div>
    </div>
</Section>
