<!-- prettier-ignore -->
<Section class="section" relative id="Articles__Hero">
    <div class="hero_container work_container">
        <div class="hero_image work_image">
            {{ readFile "static/images/undraw_Artificial_intelligence_oyxx.svg" | safeHTML }}
        </div>
        <div class="heading-container" >
            <h1 class="hero-heading"><span><b>Let's work <br>together</b><span class="dot">.</span></span></h1>
            <p class="hero-description">From interaction design to scaleable design systems, 
            single-page apps to something more experimental with WebGL. I help awesome people to 
            build ambitious yet accessible web projects - the wilder, the better.</p>
            <a href="/work"><button class="ghost-btn">About my approach
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <b aria-hidden="true">About my approach</b>
                <b aria-hidden="true">About my approach</b>
                <b aria-hidden="true">About my approach</b>
                <b aria-hidden="true">About my approach</b>
            </button></a>
        </div>
    </div>
</Section>
